<extend name="Public/base" />

<block name="body">
    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <div class="main-title">
        <h2>目标图库管理</h2>
    </div>
    <div class="cf">
        <div class="fl">
            <a class="btn" href="{:U('edit')}">新 增</a>
        </div>
    </div>

    <div class="data-table table-striped">
        <table class="">
            <thead>
            <tr>
                <th class="">ID</th>
                <th class="">图片名</th>
                <th class="">图片</th>
                <th class="">操作</th>
            </tr>
            </thead>
            <tbody>
            <notempty name="list">
                <volist name="list" id="vo">
                    <tr>
                        <td>{$vo.id} </td>
                        <td>{$vo.name} </td>
                        <td><img height="100px" src="{$vo.picture_id|get_cover='path'}"></td>
                        <td>
                            <a href="{:U('edit?id='.$vo['id'])}">编辑</a>
                        </td>
                    </tr>
                </volist>
                <else/>
                <td colspan="4" class="text-center"> aOh! 暂时还没有内容! </td>
            </notempty>
            </tbody>
        </table>
    </div>



</block>