<extend name="Public/base" />

<block name="body">
    <div class="main-title">
        <h2>面对面地址管理</h2>
    </div>
    <div class="cf">
        <div class="fl">
            <a class="btn" href="{:U('edit')}">新 增</a>
        </div>
    </div>

    <div class="data-table table-striped">
        <table class="">
            <thead>
            <tr>
                <th class="">ID</th>
                <th class="">地址</th>
                <th class="">操作</th>
            </tr>
            </thead>
            <tbody>
            <notempty name="list">
                <volist name="list" id="vo">
                    <tr>
                        <td>{$vo.id} </td>
                        <td>{$vo.address} </td>
                        <td>
                            <a href="{:U('edit?id='.$vo['id'])}">编辑</a>
                        </td>
                    </tr>
                </volist>
                <else/>
                <td colspan="3" class="text-center"> aOh! 暂时还没有内容! </td>
            </notempty>
            </tbody>
        </table>
    </div>



</block>